<%- include('./includes/header') %>
    <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body>
        <%- include('./includes/navbar') %>
            <div class="container-md">
                <h1>
                    <%= pageTitle %>
                </h1>
                <div class="row">
                    <% if (products.length> 0) { %>
                        <!-- TODO: 使用迴圈跑出 products 資料 -->
                        <% products.forEach((product)=> { %>
                            <div class="col-12 col-md-6 col-lg-4 g-3">
                                <div class="card h-100">
                                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= product.title %>
                                        </h5>
                                        <p>
                                            <%= product.description %>
                                        </p>
                                        <a href="#" class="btn btn-primary">詳細資訊</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    尚無商品
                                    <% } %>
                                        <%- include('./includes/footer') %>
                </div>
            </div>